@model IEnumerable<StatefulProject.Student>

@{
    ViewData["Title"] = "ShowStudents";
}

<h1>ShowStudents</h1>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <label>Select Department</label>
            <select id="DepartmentId" name="selectedDepartment" class="form-control" asp-items="ViewBag.departmentList" onchange="submit()">
                <option value="">  @ViewBag.departmentName</option>
            </select>
        </form>
      
        @*<h1>feha moshkela msh bt add</h1>
        <button type="button" class="btn btn-info" >
            <a style="color:white;" asp-action="addStudent"> Add new Student</a>  
        </button>
       *@
            <a class="btn btn-success" asp-action="download"> Download List</a>  
       
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatus)
            </td>
            <td>
                <button type="button" class="btn btn-warning">
                    <a  style="color:white;" asp-action="studentDetails" asp-route-id="@item.StudentId">Details</a> 
                </button>

                <button type="button" class="btn btn-warning">
                    <a style="color:white;" asp-action="studentUpdate" asp-route-id="@item.StudentId">Edit</a> 
                </button>

                <button type="button" class="btn btn-primary">
                    <a  style="color:white;" asp-action="studentDocument" asp-route-id="@item.StudentId">Document</a> 
                </button>
            
            </td>
        </tr>
}
    </tbody>
</table>