@model StatefulProject.Document

@{
    ViewData["Title"] = "studentDocument";
}

<h1>studentDocument</h1>

<h4>document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="studentDocument">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IdImg" /> @Html.DisplayNameFor(model => model.IdImg)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BirthDate" /> @Html.DisplayNameFor(model => model.BirthDate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Graduation" /> @Html.DisplayNameFor(model => model.Graduation)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract" /> @Html.DisplayNameFor(model => model.Contract)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PolicePaper" /> @Html.DisplayNameFor(model => model.PolicePaper)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Military" /> @Html.DisplayNameFor(model => model.Military)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-info" >
             <a style="color:black" asp-action="ShowStudents">Back to List</a>
        </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
